summary: true
progress: true
archive: true
namespace:
asLists: false
clearTarget: true
worker: 5
masked:
  replacement: '***'
  kindFields:
    Secret:
      - [ data ]
excluded:
  kinds:
    - Binding
    - ComponentStatus
    - Endpoints
    - Event
    - events.k8s.io.Event
    - LimitRange
    - LocalSubjectAccessReview
    - PersistentVolume
    - Pod
    - ReplicationController
    - ReplicationControllerDummy
    - RoleBindingRestriction
    - apps.ReplicaSet
    - batch.Job
    - events.k8s.io.Event
    - extensions.ReplicaSet
    - kyverno.io.ClusterBackgroundScanReport
    - kyverno.io.BackgroundScanReport
    - wgpolicyk8s.io.ClusterPolicyReport
    - wgpolicyk8s.io.PolicyReport
    - cilium.io.CiliumIdentity
    - metrics.k8s.io.PodMetrics
    - metrics.k8s.io.NodeMetrics
    - coordination.k8s.io.Lease
  fields:
    - [ status ]
    - [ metadata, uid ]
    - [ metadata, selfLink ]
    - [ metadata, resourceVersion ]
    - [ metadata, creationTimestamp ]
    - [ metadata, generation ]
    - [ metadata, annotations, "kubectl.kubernetes.io/last-applied-configuration" ]
  kindFields:
    Service:
      - [ spec, clusterIP ]
    Secret:
      - [ metadata, annotations, "openshift.io/token-secret.name" ]
      - [ metadata, annotations, "openshift.io/token-secret.value" ]
  kindByField:
    Secret:
      - field: [ type ]
        values: [ 'helm.sh/release', 'helm.sh/release.v1' ]
